@tailwind base;
@tailwind components;
@tailwind utilities;

@import "components/all.css";

html {
    font-size: 14px;
}

@screen md {
    html {
        font-size: 16px;
    }
}

h2 {
    @apply font-bebas-neue tracking-tight text-6xl
}
